---
---

// Imports

@import "reset";
@import "fonts";
@import "borderbox";
@import "syntax";

// Colors

$black: #000;
$grey: #999;
$off_white: #dcdcdc;
$white: #fff;
$deep_teal: #033;
$light_teal: #699;

// General CSS

body {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;
	word-spacing: .1em;
}

h1, h2, h3, h4, h5, h6 {
	margin: .3em 0;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	position: relative;
}

h3 {
	font-size: 18px;
}

p {
	line-height: 1.5em;
}

// links

a {
	&:link {
		color: $deep_teal;
	}

	&:visited {
		color: $grey;
	}

	&:hover {
		color: $light_teal;
	}

	&:active {
		color: $deep_teal;
	}

	&.base {
		font-weight: bold;
		color: $deep_teal;
		&:hover {
			color: $light_teal
		}
	}
}


img {
	width: 100%;
	height: auto;
}

nav {
	display: block;
	height: 4em;

	ul {
		display: block;
		float: right;
		padding-right: 2em;
	}

	li {
		padding: 1em 0;
		display: inline-block;
		width: 5em;
		text-align: center;

		a {
			color: $off_white;
			text-align: right;
			text-decoration: none;
		}
	}
}

// Clearfix for floats

.clearfix {
	display: block;
	clear: both;
}

// Main blog sections

.container {
	margin: 0 auto;
	max-width: 960px;
}

.border-top {
	display: block;
	width: 100%;
	background-color: $black;
	min-height: 10px;
}

hr {
	visibility: hidden;
}

// Aside

aside {
	float: left;
	width: 30%;
	padding: 0 2em;
	height: auto;
	text-align: right;

	section, div {
		width: 100%;
		margin: 0;
	}

	img {
		max-height: 200px;
		max-width: 200px;
	}
}

.title {
	display: block;
 	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
	margin: .3em 0;

	&:link, &:visited {
		color: inherit;
	}
}

.blurb {
	margin-top: 1em;

	p {
		margin-bottom: 1em;
	}
}

// Main article & content

.main {
	float: left;
	width: 70%;
	border-left: 1px solid $grey;
	padding: 0 2em;
}

article {
	display: block;

	p {
		padding: 0.5em 0;
	}
}

// Home page excerpt specific

.post-date {
	padding: 0;
	font-size: 18px;
	font-weight: bold;
}

.read-more {
	width: 100%;
	display: block;
	text-align: right;
	margin-bottom: 1em;
}

// Portfolio specific



// Post content specific

.post-content {
	li, ul, ol {
		padding-bottom: .25em;
	}

	ul {
		margin-left: 2em;

		li {
			list-style: disc;
			padding: 0 0 .5em .5em;
		}
	}

	ol li {
		list-style: decimal;
	}

	p > code {
		padding-top: .2em;
	}
}

// Tags

.tags {
	margin: 1em 0;

	ul {
		margin: 2em 0;
	}
}

.tag {
	display: inline-block;

	a {
		background-color: $deep_teal;
		color: $white;
		border-radius: 5px;
		padding: 0.1em 1em;
		margin: .1em;

		&:link {
			color: $light_teal;
			text-decoration: none;
		}

		&:visited {
			color: $grey;
		}

		&:hover {
			color: $white;
		}
	}
}

.tagged-post {
	padding: 6px 0;
}

.blog-page ul {
	margin-bottom: 2em;

	li {
		margin: .5em 0;
	}

	h3 {
		margin: .5em 0 1em 0;
	}
}

.about {
	margin-top: 1em;
	border: 1px solid $grey;
	border-radius: 3px;
	overflow: auto;
	padding: .5em 1em;

	p {
		font-style: italic;
		text-align: justify;
		overflow: hidden;
	}

	img {
		width: auto;
		float: left;
		padding: .5em 1em .5em 0;
	}
}

.left {
	float: left;
	padding-right: 1em;
	max-width: 150px;
}

// Header triangle highlight

.h1-triangle, .h2-triangle {
	position: relative;

	&::before {
		position: absolute;
		vertical-align: middle;
		left:-20px;
		width: 12px;
		height: 16px;
		background: url("/img/triangle-icon.png");
		content: "";
	}
}

.h1-triangle::before {
	top: 12px;
}

.h2-triangle::before {
	top: 8px;
}


// Footer

footer {
	text-align: center;
	font-size: 14px;
	color: $grey;
	padding: 0;
	margin: 2em;
	border-top: 1px solid $grey;
}

.footer-list {
	list-style: none;

	a {
		text-decoration: none;

		&:link {
			color: $grey;
		}

		&:visited {
			color: $grey;
		}

		&:hover {
			color: $light_teal;
			text-decoration: underline;
		}

		&:active {
			color: $grey;
		}
	}
	li {
		display: inline-block;
		padding: 1em 1em;
	}
}

.icons, .footer-nav, .copyright {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
}

.shouts {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.social {
	display: inline-block;
	margin: auto;
	width: 25%;
	padding: 10px;
	float: left;
}

.social svg:hover{
	position: relative;
	bottom: 4px;
}

@media screen and (max-width:768px){
	aside {
		width: 100%;
		max-width: 100%;
		float: none;
		padding: 0 2em;
		text-align: left;
	}
	nav {
		height: 2em;

		ul {
			padding: 0;
			float: none;
			width: 100%;
		}

		li {
			padding: .5em 0;
			float: left;
			margin: 0 auto;
			width: 25%;

			a {
				text-align: center;
			}
		}
	}

	.logo, .blurb {
		display: block;
		float: left;
		margin: 0;
	}

	.logo {
		width: 30%;
		margin: 0;
	}

	.blurb {
		width: 70%;
		margin: 0;
		padding-left: 1em;
	}

	.title {
		width: 100%;
		padding: .2em;
		margin: .2em;
		text-align: center;
	}

	.main {
		width: 100%;
		border: none;
		margin-top: 1em;
	}
	.main > section:first-child, .main > article:first-child {
		border-top: 1px solid $grey;
	}

	.footer-nav {
		width: 80%;
	}

	.footer-list li {
		margin: 0 auto;
		padding: .5em .5em 0 .5em;
	}

	.h1-triangle {
		margin-left: .65em;
	}

	.h2-triangle {
		margin-left: .875em;
	}
}


@media screen and (max-width:480px){
	nav {
		width: 100%;
		height: 2em;

		ul {
			padding: 0;
			float: none;
			width: 100%;
		}

		li a {
			text-align: center
		}
	}

	aside, .main {
		padding: 0 1em;
		height: 100%;
	}

	aside {
		text-align: center;
		margin: 0;

		div {
			margin: .25em 0
		}
	}

	.logo, .blurb {
		text-align: left;
	}

	.logo {
		width: 33.3333%;
	}

	.blurb {
		width: 66.6666%;
	}

	.icons, .footer-nav, .copyright {
		width: 80%;
	}

	.left {
		width: 30%;
	}

	.h1-triangle {
		margin-left: .65em;
	}

	.h2-triangle {
		margin-left: .875em;
	}

	.about p {
		overflow: visible;
	}

	pre, .highlight {
		white-space: pre;
		overflow: auto;
	}

	footer {
		margin: 1em;
	}
}