/* General CSS */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	font-size: 16px;

}

h1, h2, h3, h4, h5, h6 {
	margin: .3em 0;
}

h1 {
	font-size: 32px;
	font-weight: bold;
}

h2 {
	font-size: 24px;
	position: relative;
}

h3 {
	font-size: 18px;
}

p {
	line-height: 1.5em;
}

a:link {
	color: #003333;
}

a:visited {

	color: #999999;
}

a:hover {
	color: #669999;
}

a:active {
	color: #003333;
}

img {
	width: 100%;
	height: auto;
}

nav {
	display: block;
	height: 4em;
}

nav ul {
	display: block;
	float: right;
	padding-right: 2em;
}

nav li {
	padding: 1em 0;
	display: inline-block;
	width: 5em;
	text-align: center;
}

nav li a {
	display: inherit;
	color: #dcdcdc;
	text-align: right;
	text-decoration: none;
}


a.base {
	font-weight: bold;
	color: #003333;
}

/* Clearfix for floats */

.clearfix {
	display: block;
	clear: both;
}

/* Main blog sections */

.container {
	margin: 0 auto;
	max-width: 960px;
}

.border-top {
	display: block;
	width: 100%;
	background-color: #000000;
	min-height: 10px;
}

hr {
	visibility: hidden;
}

/* Aside */

aside {
	float: left;
	width: 30%;
	padding: 0 2em;
	height: auto;
	text-align: right;
}

aside section, aside div {
	width: 100%;
	margin: 0;
}

aside img {
	max-height: 200px;
	max-width: 200px;
}

.title {
	display: block;
 	text-decoration: none;
	font-size: 32px;
	font-weight: bold;
	margin: .3em 0;
}

.title:link, .title:visited {
	color: inherit;
}

.blurb {
	margin-top: 1em;
}

.blurb p {
	margin-bottom: 1em;
}


/* Main article & content */

.main {
	font-family: "PT Sans", Arial, Helvetica, sans-serif;
	float: left;
	width: 70%;
	border-left: 1px solid #999999;
	padding: 0 2em;
}

article {
	display: block;
}

article p {
	padding: 0.5em 0;
}

/* Home page excerpt specific */

.post-date {
	padding: 0;
	font-size: 18px;
	font-weight: bold;
}

.read-more {
	display: block;
	float: right;
	margin-bottom: 2em;
}



/* Portfolio specific */



/* Post content specific */

.post-content li, .post-content ul, .post-content ol {
	padding-bottom: .25em;
}

.post-content ul {
	margin-left: 2em;
}

.post-content ul li {
	list-style: disc;
	padding: 0 0 .5em .5em;
}

.post-content ol li {
	list-style: decimal;
}

.post-content p > code {
	padding-top: .2em;
}

.tags {
	margin: 1em 0;
}

.tags ul {
	margin: 2em 0;
}

.tag {
	display: inline-block;
}

.tag a {
	background-color: #003333;
	color: #ffffff;
	border-radius: 5px;
	padding: 0.1em 1em;
	margin: .1em;
}

.tag a:link {
	color: #669999;
	text-decoration: none;
}

.tag a:visited {
	color: #999999;
}

.tag a:hover {
	color: #ffffff;
}

.tagged-post {
	padding: 6px 0;
}

.blog-page ul {
	margin-bottom: 1em;
}

.about {
	margin-top: 1em;
	border: 1px solid #999999;
	border-radius: 3px;
	overflow: auto;
	padding: .5em 1em;
}

.about p {
	font-style: italic;
	text-align: justify;
	overflow: hidden;
}

.about img {
	width: auto;
	float: left;
	padding: .5em 1em .5em 0;
}

.left {
	float: left;
	padding-right: 1em;
	max-width: 150px;
}



/* Header triangle highlight */

.h1-triangle, .h2-triangle {
	position: relative;
}

.h1-triangle::before, .h2-triangle::before {
	position: absolute;
	vertical-align: middle;
	left:-20px;
	width: 12px;
	height: 16px;
	background: url("/img/triangle-icon.png");
	content: "";
}

.h1-triangle::before {
	top: 12px;
}

.h2-triangle::before {
	top: 8px;
}


/* Footer */

footer {
	text-align: center;
	font-size: 14px;
	color: #999999;
	padding: 0;
	margin: 2em;
	border-top: 1px solid #999999;
}

.footer-list a {
	text-decoration: none;
}

.footer-list a:link {
	color: #999999;
}

.footer-list a:visited {

	color: #999999;
}

.footer-list a:hover {
	color: #669999;
	text-decoration: underline;
}

.footer-list a:active {
	color: #999999;
}

.footer-list {
	list-style: none;
}

.footer-list li {
	display: inline-block;
	padding: 1em 1em;
}

.icons, .footer-nav, .copyright {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
}

.shouts {
	display: block;
	width: 50%;
	margin: 0 auto;
}

.social {
	display: inline-block;
	margin: auto;
	width: 25%;
	padding: 10px;
	float: left;
}

.social svg:hover{
	position: relative;
	bottom: 4px;
}

@media screen and (max-width:768px){
	aside {
		width: 100%;
		max-width: 100%;
		float: none;
		padding: 0 2em;
		text-align: left;
	}
	nav {
		height: 2em;
	}

	nav li {
		padding: .5em 0;
	}

	.logo, .blurb {
		display: block;
		float: left;
		margin: 0;
	}

	.title {
		width: 100%;
		padding: .2em;
		margin: .2em;
		text-align: center;
	}

	.logo {
		width: 30%;
		margin: 0;
	}

	.blurb {
		width: 70%;
		margin: 0;
		padding-left: 1em;
	}

	.main {
		width: 100%;
		border: none;
		margin-top: 1em;
	}
	.main > section:first-child, .main > article:first-child {
		border-top: 1px solid #999999;
	}

	.footer-nav {
		width: 80%;
	}

	.footer-list li {
		margin: 0 auto;
		padding: .5em .5em 0 .5em;
	}

	.h1-triangle {
		margin-left: .65em;
	}

	.h2-triangle {
		margin-left: .875em;
	}
}


@media screen and (max-width:480px){
	nav {
		width: 100%;
		height: 2em;
	}

	nav ul {
		padding: 0;
		float: none;
		width: 100%;
	}

	nav li {
		float: left;
		margin: 0 auto;
		width: 25%;
	}

	nav li a {
		text-align: center;
	}

	aside, .main {
		padding: 0 1em;
		height: 100%;
	}

	aside {
		text-align: center;
		margin: 0;
	}

	aside div {
		margin: .25em 0;
	}



	.logo, .blurb {
		text-align: left;
	}

	.logo {
		width: 33.3333%;
	}

	.blurb {
		width: 66.6666%;
	}

	.icons, .footer-nav, .copyright {
		width: 80%;
	}

	.left {
		width: 30%;
	}

	.h1-triangle {
		margin-left: .65em;
	}

	.h2-triangle {
		margin-left: .875em;
	}

	.about p {
		overflow: visible;
	}

	pre, .highlight {
		white-space: pre;
		overflow: auto;
	}

	footer {
		margin: 1em;
	}
}