		<aside>
			<a href="/" class="title">scott/dev</a>
			<div class="logo">
				<img src="/img/scott-dev-logo.png" alt="/scott/dev logo" height="200" width="200" class="site-logo" title="/scott/dev">
			</div>
			<div class="blurb">
				<p>My name is Scott Lambert. I'm a student and future web dev. This is my blog.</p>
			</div>
			<div class="icons">
				<ul>
					<!-- Twitter -->
					<li class="social">
						<a href="https://twitter.com/sdlamber">
							<svg width="24" height="24">
								<use xlink:href="#twitter">
							</svg>
						</a>
					</li>
					<!-- Github -->
					<li class="social">
						<a href="https://github.com/sdlambert">
							<svg width="24" height="24">
								<use xlink:href="#github">
							</svg>
						</a>
					</li>
					<!-- Codepen -->
					<li class="social">
						<a href="http://codepen.io/sdlambert/">
							<svg width="24" height="24">
								<use xlink:href="#codepen">
							</svg>
						</a>
					</li>
					<!-- LinkedIn -->
					<li class="social">
						<a href="https://www.linkedin.com/in/sdlamber">
							<svg width="24" height="24">
								<use xlink:href="#linkedin">
							</svg>
						</a>
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
		</aside>