<!DOCTYPE html>
<html lang="en-US">
<head>
	<title>{{  page.title  }} | {{ site.title }}</title>
	<link href="/css/reset.css" rel="stylesheet">
	<link href="/css/fonts.css" rel="stylesheet">
	<link href="/css/main.css" rel="stylesheet">
	<link href="/css/syntax.css" rel="stylesheet">
	<link rel="icon" href="/favicon.ico" sizes="16x16 32x32 48x48 64x64" type="image/vnd.microsoft.icon">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta name="author" content="Scott Lambert">
	<meta name="description" content="{{ page.description }}">
	<meta property="og:title" content="{{  page.title }} | {{ site.title }}">
	<meta property="og:type" content="article">
	<meta property="og:image" content="{{  site.url  }}{{  page.image_path }}">
	<meta property="og:url" content="{{  site.url  }}{{  page.url  }}">
	<meta property="og:description" content="{{  page.description  }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@sdlamber">
	<meta name="msvalidate.01" content="30A56D04C160C9056F343E01B532C61D" />
	<!--[if lt IE 9]>
    	<script src="js/html5shiv.min.js"></script>
	<![endif]-->
</head>
<body>
	<div class="border-top">
	<!--[if lte IE7]>
		<span style="display: inline-block; height:20px; color: red; font-weight: bold;">Please upgrade your browser in order to view this page correctly.</span>
	<![endif]-->
	</div>
	<div class="container">
