html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

form, fieldset {
	display: block;
	padding: 1em;
	max-width: 580px;
	font-family: 'Oswald', sans-serif;
	border-radius: 9px;
}

textarea {
	display: inline-block;
	width: 100%;
	font-family: monospace;

}

button {
	width: 100px;
	margin: 1em 0;
	font-family: 'Oswald', sans-serif;
}
