{% include  header.html %}
{% include  nav.html %}
{% include  aside.html %}
	<div class="main">
		<article>
			<h1><span class="h1-triangle">{{  page.title  }}</span></h1>
			<p class="post-date">{{ page.date | date: "%B %-d, %Y" }}</p>
			<section class="post-content">
				{{  content | indent_tab: 4 }}
			</section>
			<section class="tags">
				<h3>Tags</h3>
				<ul>
				{% for tag in page.tags %}
					<li class="tag"><a href="/tags/{{ tag | remove:','}}/index.html">{{ tag | remove:','}}</a></li>
				{% endfor %}
				</ul>
			</section>
			<section class="about">
				<h3>About the author</h3>
				<img src="/img/profile-100.png" height="100" width="100" alt="A picture of the author, Scott Lambert" title="Scott Lambert, future web dev">
				<p>Scott Lambert is a student at Macomb Community College and an aspiring web developer. He is a proud father and unapologetic geek, and enjoys spending time with his family, tinkering with technology and learning new things.</p>
			</section>
		</article>
	</div>
	<div class="clearfix"></div>
{% include  footer.html %}
